language: c
compiler: gcc
notifications:
    email:
        recipients:
            - travisci@benaryos.org
        on_success: always
        on_failure: always
script: make -j5 && timeout 5m qemu-system-x86_64 -kernel build/kernel -display none || test $? -eq 124
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -y nasm qemu

